* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: rgba(245, 245, 245, 1);
    --color-secundario: rgba(234, 242, 253, 1);
    --fuente: Raleway;
    --color-terciario:  rgba(70, 70, 70, 1);


}

body {
    font-family: var(--fuente);
}


.content {
    display: grid;
    grid-template-columns: 1 1fr;
    grid-template-rows: 9 auto;
    grid-template-areas:
        "header"
        "presentacion"
        "sobre__mi"
        "Skills"
        "Hobbies"
        "formacion__academica"
        "experiencia__laboral"
        "contacto"
        "footer";
        
    
}.header{
    grid-area: header;
    background-color: var(--color-principal);
}

.barra_menu {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    padding: 1rem 0;
}

.header ul {
    display: flex;
}

.header ul li {
    list-style: none;
    padding: 1rem;
    
}

.header a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.name_header {
    margin-right: 5rem;
    font-weight: 700;
    color: black;
    white-space: nowrap;
    padding-left: 1rem;

}

.contacto {
    color: black;
}.sobre_mi{
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentacion {
    grid-area: presentacion;
    background-color: var(--color-principal);
    padding: 2rem 7rem;
}

.content_presentacion ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    
}.content_presentacion ul li{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}.content_presentacion ul li img{
   padding: 0 .5rem;
}

.presentacion__titulo_principal {
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    line-height: 61.05px;
    text-align: left;
    color: var(--color-terciario);

}.presentacion__subtitulo_principal{
    padding: 1.5rem 0;
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--color-terciario);
}.presentacion__enlaces{
    text-decoration: none;
}

.sobre__mi {
    grid-area: sobre__mi;
    background-color: var(--color-secundario);
}

.Skills {
    grid-area: Skills;
    background-color: var(--color-principal);
}

.Hobbies {
    grid-area: Hobbies;
    background-color: var(--color-principal);
}

.formacion__academica {
    grid-area: formacion__academica;
    background-color: var(--color-secundario);
}

.experiencia__laboral {
    grid-area: experiencia__laboral;
    background-color: var(--color-principal);
}

.contacto {
    grid-area: contacto;
    background-color: var(--color-principal);
}

.footer {
    grid-area: footer;
    background-color: white;
}