* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: rgba(245, 245, 245, 1);
    --color-secundario: rgba(234, 242, 253, 1);
    --fuente: Raleway;
    --color-terciario: rgba(70, 70, 70, 1);


}

body {
    max-width: 100%;
    font-family: var(--fuente);
    overflow-x: hidden;
}


.content {
   
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 9 auto;
    grid-template-areas:
        "header"
        "presentacion"
        "sobre__mi"
        "Skills"
        "Hobbies"
        "formacion__academica"
        "experiencia__laboral"
        "contacto"
        "footer";


}

.header {
    grid-area: header;
    background-color: var(--color-secundario);
    font-size: clamp(.7rem, 3vw, 1rem);

}

.barra_menu {
    background-color: var(--color-principal);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.menu_navegacion {
    max-width: 100%;
}

.menu_navegacion ul {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.menu_navegacion li {
    display: flex;

    gap: .5rem;
}

.menu_navegacion a {
    text-decoration: none;
}

.name_header {
    display: flex;
    margin-right: 1rem;
    align-items: center;
    text-decoration: none;
}

.sobre_mi,
.name_header {
    white-space: nowrap;
}

.presentacion {
    grid-area: presentacion;
    background-color: var(--color-principal);
}

.sobre__mi {
    grid-area: sobre__mi;
    background-color: var(--color-principal);


}

.Skills {
    grid-area: Skills;
    background-color: var(--color-principal);
}

.Hobbies {
    grid-area: Hobbies;
    background-color: var(--color-principal);
}

.formacion__academica {
    grid-area: formacion__academica;
    background-color: beige;
}

.experiencia__laboral {
    grid-area: experiencia__laboral;
    background-color: var(--color-principal);
}

.contacto {
    grid-area: contacto;
    background-color: aqua;
}

.footer {
    grid-area: footer;
    background-color: rgb(0, 255, 115);
}